*{
    padding: 0%;
    margin: 0%;
}
header{
    background: linear-gradient(to bottom left , #f23c3c, #f57a7a);
    align-items:center;
    padding-top: 5px;
    padding-bottom: 3%;
    border-bottom-left-radius: 70px;
    width: 100% auto;
}
header ul{
    list-style: none;
    display: flex;
    margin-left: 17%;
    background: none;
}
header ul li a{
    text-decoration: none;
    padding-left: 20px;
    color: white;
    background: none;
}
header ul li a:hover{
    text-decoration: line-through;
    text-decoration-color: black;
}
.login{
    background-color: #fe4c4c;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 30%;
    border: none;
}
.login:hover{
    background-color: #fe4c4c;
    border-color: #ffffff;
    border: 1px solid;
}
.container1{
    margin-left: 40%;
    justify-content: space-between;
    display: flex;
    background: none;
    padding: 0;
}
.Signup{
    background-color: white;
    color: #fe4c4c;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-left: 20px;
}
.Signup:hover{
    background-color: #fe4c4c;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid;
    border-color: #fffbfb;
    margin-left: 20px;
}
.main{
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    padding-bottom: 120px;
}
header h1{
    justify-self: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
header p{
    justify-self: center;
    margin-top: 1%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.start{
    background-color: #fffbfb;
    border-radius: 20px;
    padding: 10px;
    color: #fe4c4c;
    border: none;
}
.start:hover{
    background-color: #fe4c4c;
    border-radius: 20px;
    padding: 10px;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
}
.learn{
    background-color: #fe4c4c ;
    border-radius: 20px;
    padding: 10px;
    color: white;
    border-color: #ffffff;
    border: 1px solid;
}
.learn:hover{
    background-color: hsl(0, 0%, 100%) ;
    border-radius: 20px;
    padding: 10px;
    color: #fe4c4c;
    border-color: #ffffff;
    border: 1px solid;
}
.container2{
    display: flex;
    justify-self: center;
    margin-top: 2%;
    gap: 40px;
    padding-bottom: 50px;
}
body main .firsth{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #43366c;
    font-weight: 100;
}
main h3{
    color: #43366c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
main .introduction{
    padding: 0;
    margin-left: 10%;
    margin-top: 90px;
    background: none;
}
main .introduction p{
    width: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 29px;
    font-size: x-small;
}
main{
    justify-content: space-between;
    background-image: url("illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right;
    padding-top: 90px;
}
.interface{
    display: flex;
    justify-content: space-around;
    background-color: #43366c;
    margin-top: 100px;
    height: 400px;
    width: 100%;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background-image: url("bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 600px;
}
.interface h1{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.interface p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: 100;
    width: 70vh;
    margin-top: 30px;
}
.interface img{
    justify-self: flex-start;
    padding-top: 0;
    height: 500px;
}
.state{
    margin-top: 50px;
    padding-top: 0;
    align-self: center;
}
.outro .mine{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-left: 190px;
    margin-top: 150px;
}
.outro .yours{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-left: 140px;
    margin-top: 70px;
}
 
.outro p{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    width: 70vh;
    margin-left: 400px;
    margin-top: 50px;
}
.outro{
    background-image: url("illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-size: 700px;
    padding-bottom: 290px;
}
footer{
    background-color: #221941;
    margin-top: 50px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    align-items: center;
    border-top-right-radius: 90px;
}
footer ul{
    margin-top: 10px;
}
footer h3{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
footer ul li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding-bottom: 10px;
}
footer ul li a{
    text-decoration: none;
    color: rgb(176, 176, 176);
}
@media screen and (max-width:1100px){
    *{
        padding: 0;
        margin: 0;
    }
    .login{
        display: none;
    }
    .Signup{
        display: none;
    }
    main{
        background: none;
    }
    .outro{
        background-image: none;
    }
      footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items:center;
        text-align:center;
    }
     .interface img{
        width:400px;
        height: 400px;
    }
    .interface{
        padding-right: 20px;
    }
    .interface .state{
        padding-right: 100px;
        width:200px;
        justify-self: left;
        margin-right: 200px;
    }
    .outro{
        justify-self: right;
        width: 600px;
        margin-right: 200px;
    }

}
